:root {
  --primary-color: #d8d8d8; /* Main background color */
  --secondary-color: #1a62a8; /*  for texts */
  --accent-color: #4ac5b1; /*  Primary accent */
  --accent-color2: #337179; /* Secondary accent */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.login-page {
  min-height: 90vh;
}

.login-header {
  color: var(--accent-color2);
}

/* .container {
  border: 1px solid red;
  max-width: 95%;
  margin: 0 auto;
  padding-top: 2rem;
}

.form-content {
  border: 1px solid red;
}

.bg-form {
  background-image: url("../images/recipe03.avif");
} */
