:root {
  --primary-color: #d8d8d8; /* Main background color */
  --secondary-color: #1a62a8; /*  for texts */
  --accent-color: #4ac5b1; /*  Primary accent */
  --accent-color2: #337179; /* Secondary accent */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.navbar {
  background: white;
}

.navbar-content {
  /* width: 80%; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.7rem;
}

#logo {
  /* border: 2px solid red; */
  max-width: 100%;
  height: auto;
  width: 190px;
  cursor: pointer;
  color: var(--secondary-color);
  text-decoration: none;
  padding: 1rem 1.2rem;
  border: 1px dotted var(--accent-color2);
  text-align: center;
}

#logo:hover {
  opacity: 0.6;
  background-color: var(--accent-color2);
  color: white;
}

.nav-links {
  /* border: 2px solid blue; */
  display: flex;
  gap: 40px;
  list-style: none;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--accent-color2);
  font-weight: bold;
}

.nav-links li:hover {
  text-decoration: none;
  /* text-decoration-color: white; */
}

.nav-links a:hover {
  text-decoration: none;
  background-color: var(--accent-color2);
  color: white;
  padding: 0.8rem 1.4rem;
  border-radius: 5px;

  /* text-decoration-color: white; */
}

#menu-btn {
  display: none;
}

#user-avatar {
  width: 40px;
  height: auto;
  border-radius: 50%;
}

/* MEDIA QUERY */

@media only screen and (max-width: 600px) {
  .nav-links {
    display: none;
  }
}
