:root {
  --primary-color: #d8d8d8; /* Main background color */
  --secondary-color: #1a62a8; /*  for texts */
  --accent-color: #4ac5b1; /*  Primary accent */
  --accent-color2: #337179; /* Secondary accent */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--accent-color2);
}

img {
  max-width: 100%;
}

.profile-page {
  min-height: 100vh;
}

#profile-avatar {
  width: 450px;
  height: auto;
  /* border-radius: 100%; */
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
